doctype html
html
  head
    title= 'Books collection'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - Books collection
    br
    a(href='/fiction') Fiction
    br
    a(href='/novel') Novels & Stories

    block content
